@font-face {
    font-family: Cairo;
    src: url(../Fonts/Comme.ttf);
}
@font-face{
    font-family: Comme;
    src: url(../Fonts/Cairo.ttf);
}
@font-face{
    font-family: Konkhmer;
    src: url(../Fonts/Konkhmer.ttf);
}